* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

header, footer, .hero {
  background-color: #1F2937;
}

header, section {
  display: flex;
  justify-content: center;
}

header, footer {
  height: 72px;
}

header .container {
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
}

nav li, .hero p, footer {
  color: #E5E7EB;
}

section {
  padding: 100px 0;
}

button, .signup .box {
  background-color: #3882F6;
}

button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 32px;
}

q {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-basis: 960px;
  padding-inline: 24px;
}

.logo, .hero h1 {
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.hero .container {
  gap: 24px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.hero p {
  font-size: 18px;
}

.hero img {
  flex-shrink: 0;
}

.information .container, .quote .container {
  flex-direction: column;
}

.information h1 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-top: 0;
  margin-bottom: 48px;
}

.items {
  display: flex;
  gap: 24px;
}

.items > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.items > div > p {
  padding-inline: 20px;
}

.square {
  width: 160px;
  height: 160px;
  border: 4px solid #3882F6;
  border-radius: 12px;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
}

.quote p {
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
  margin-bottom: 0;
}

.box {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 48px 80px;
  border-radius: 12px;
}

.box h1 {
  margin: 0;
}

.box p {
  margin-top: 6px;
  margin-bottom: 0;
}

.signup button {
  border: white 2px solid;
}